.about {
    position: relative;
    counter-increment: count;


    // .about__title

    &__title {

        text-align: center;

        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;

        color: #FFFFFF;
    }

    // .about__item

    &__item {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        height: 507px;

        &--reverse {
            display: flex;
            justify-content: start;
            align-items: flex-end;
            height: 507px;

        }
    }

    // .about__img

    &__img {
        position: absolute;
        top: 202px;
        left: 0;

        &--reverse {
            position: absolute;
            top: 202px;
            right: 0;
        }
    }

    // .about__content

    &__content {
        position: relative;
        max-width: 445px;

        font-size: 17px;
        text-align: end;
        font-weight: 400;
        line-height: 21px;

        &--reverse {
            position: relative;
            max-width: 445px;

            font-size: 17px;
            text-align: start;
            font-weight: 400;
            line-height: 21px;
            color: #FFFFFF;

            &::before {
                // content: counter(section-counter) "";
                content: counter(count, decimal-leading-zero);

                position: absolute;
                top: -220px;
                left: 0;


                font-size: 190px;
                font-style: normal;
                font-weight: 900;
                line-height: 232px;
                /* identical to box height */


                color: rgba(255, 255, 255, 0.15);
            }
        }


        &::before {
            // content: counter(section-counter) "";
            content: counter(count, decimal-leading-zero);

            position: absolute;
            top: -220px;
            right: 0;


            font-size: 190px;
            font-style: normal;
            font-weight: 900;
            line-height: 232px;
            /* identical to box height */


            color: rgba(112, 123, 184, 0.15);
        }

    }
}


.rectangle-first-img {
    position: absolute;
    top: 270px;
    left: 113px;
    z-index: 1;

    width: 672px;
    height: 410px;
    border: 10px solid #707BB8;
}

.rectangle-second- {
    position: absolute;
    left: 0px;
    top: 250px;
    z-index: 2;

    width: 785px;
    height: 410px;
    border-width: 3px 3px 3px 0px;
    border-style: solid;
    border-color: #707BB8;
}

// FIXME задать отступы для последнего элемента с классом about