.about {
    position: relative;
    counter-increment: count;

    // @media screen and (min-width: 1601px) {
    //     padding: 50px 0 0;
    // }


    // .about__title

    &__title {

        text-align: center;

        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 37px;

        color: #FFFFFF;


    }

    // .about__item

    &__item {
        display: flex;
        justify-content: end;
        align-items: flex-end;
        height: 507px;

        @media screen and (max-width: 1140px) {
            height: 357px;
        }

        &--reverse {
            display: flex;
            justify-content: start;
            align-items: flex-end;
            height: 507px;

            @media screen and (max-width: 1140px) {
                height: 357px;
                margin: 20px 0 0;
            }

        }
    }

    // .about__img

    &__img {
        position: absolute;
        top: 202px;
        left: 0;

        // @media screen and (min-width: 1601px) {
        //     top: 252px
        // }

        @media screen and (max-width: 1140px) {
            width: 45%;
            top: 80px;
        }


        &--reverse {
            position: absolute;
            top: 202px;
            right: 0;

            // @media screen and (min-width: 1601px) {
            //     top: 252px
            // }

            @media screen and (max-width: 1140px) {
                width: 40%;
                top: 105px;
            }

        }

        &--last {
            z-index: 2;

            @media screen and (max-width: 1140px) {
                top: 70px;
            }
        }
    }

    // .about__content

    &__content {
        position: relative;
        max-width: 445px;

        font-size: 17px;
        text-align: end;
        font-weight: 400;
        line-height: 21px;
        z-index: 2;

        @media screen and (max-width: 1314px) {
            padding: 10px;
            // background-color: rgba($color: #ffffff, $alpha: 0.4);
        }

        @media screen and (max-width: 1140px) {
            font-size: 16px;
        }

        &::before {
            content: counter(count, decimal-leading-zero);

            position: absolute;
            top: -220px;
            right: 0;

            font-size: 190px;
            font-style: normal;
            font-weight: 900;
            line-height: 232px;

            color: rgba(112, 123, 184, 0.15);

            @media screen and (max-width: 1140px) {
                font-size: 150px;
                top: -200px;
            }
        }

        &--reverse {
            position: relative;
            max-width: 445px;

            font-size: 17px;
            text-align: start;
            font-weight: 400;
            line-height: 21px;
            color: #FFFFFF;

            @media screen and (max-width: 1314px) {
                padding: 10px;
                // background-color: rgba($color: #000000, $alpha: 0.3);
            }

            @media screen and (max-width: 1140px) {
                font-size: 16px;
            }

            &::before {
                content: counter(count, decimal-leading-zero);

                position: absolute;
                top: -220px;
                left: 0;

                font-size: 190px;
                font-style: normal;
                font-weight: 900;
                line-height: 232px;

                color: rgba(255, 255, 255, 0.15);

                @media screen and (max-width: 1140px) {
                    font-size: 150px;
                    top: -200px;
                }
            }
        }
    }
}


.rectangle-first-img {
    position: absolute;
    top: 270px;
    left: 113px;
    z-index: 1;

    width: 672px;
    height: 410px;
    border: 10px solid #707BB8;

    // @media screen and (min-width: 1601px) {
    //     top: 320px;
    // }

    @media screen and (max-width: 1140px) {
        scale: 0.8;
        top: 58px;
        left: -24px;
        border-width: 8px;

    }
}

.rectangle-second-img {
    position: absolute;
    left: 0px;
    top: 250px;
    z-index: 1;

    width: 785px;
    height: 410px;
    border-width: 3px 3px 3px 0px;
    border-style: solid;
    border-color: #707BB8;

    // @media screen and (min-width: 1601px) {
    //     top: 300px;
    // }

    @media screen and (max-width: 1140px) {
        top: 117px;
        left: 0;
        width: 50%;
        height: 85%;
    }
}

// FIXME задать отступы для последнего элемента с классом about