.button {
    color: #ffffff;
    background-color: $color-pink;

    &__intro {
        padding: 17px 47px;
        max-width: max-content;

        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;

    }

    &__teacher {
        padding: 17px 47px;
        max-width: max-content;

        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    &__price {
        padding: 17px 64px;
        max-width: max-content;

        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;

        color: #FFFFFF;
    }
}