// FIXME position ellipce-fill change to % 
// FIXME maybe change position ellipse-dached and change size 
.intro {
    padding: 128px 0 219px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    // .intro__title

    &__title {

        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
        text-transform: uppercase;
    }

    // .intro__content

    &__content {
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    // .intro__img

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
    }
}

.ellipce-fill-bg {
    position: absolute;
    top: -369px;
    left: -161px;
    z-index: -1;

    width: 1201px;
    height: 1201px;

    border-radius: 50%;
    background-color: $color-yellow;
}

.ellipce-dashed {
    position: absolute;
    right: 0;
    top: 478px;
}

.bg-decor-intro {
    position: relative;
}

.vecor-intro {
    position: absolute;
    top: 480px;
    left: auto;
    z-index: -1;
    width: 100%;
    overflow-y: hidden;

    @media screen and (min-width: 1600px) {
        max-height: 5592px;
    }
}

.ellips-border {
    position: absolute;
    top: 160px;
    left: 190px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 5px solid #ffffff;
}

.ellips-fill {
    position: absolute;
    top: 200px;
    left: 120px;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    background: $color-pink;
}