// FIXME position ellipce-fill change to % 
// FIXME maybe change position ellipse-dached and change size 
.intro {
    padding: 128px 0 219px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media screen and (max-width: 1140px) {
        padding: 98px 0 119px;
    }

    // .intro__title

    &__title {

        font-size: 45px;
        font-style: normal;
        font-weight: 700;
        line-height: 55px;
        text-transform: uppercase;

        z-index: 1;

        @media screen and (max-width: 1140px) {
            font-size: 40px;
        }


    }

    // .intro__content

    &__content {
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
    }

    // .intro__img

    &__img {
        position: absolute;
        top: -80px;
        right: 0;
        z-index: -1;

        @media screen and (min-width: 1601px) {
            width: 40%;
        }

        @media screen and (max-width: 1140px) {
            width: 40%;
        }


        @media screen and (max-width: 768px) {
            width: 60%;
        }

    }
}

.ellipce-fill-bg {
    position: absolute;
    top: -369px;
    left: -161px;
    z-index: -1;

    width: 1201px;
    height: 1201px;

    border-radius: 50%;
    background-color: $color-yellow;

    @media screen and (min-width: 1601px) {
        width: 75%;
    }

    @media screen and (max-width: 1400px) {
        width: 75%;
    }

    @media screen and (max-width: 1140px) {
        width: 1001px;
        height: 1001px;
        top: -349px;
        left: -250px;
    }


}

.ellipce-dashed {
    position: absolute;
    right: 0;
    top: 478px;
    z-index: -1;

    @media screen and (max-width: 1140px) {
        width: 15%;
        top: 208px;
    }
}

.bg-decor-intro {
    position: relative;
}

.vecor-intro {
    position: absolute;
    top: 480px;
    left: auto;
    width: 100%;
    overflow-y: hidden;

    @media screen and (min-width: 1601px) {
        top: 450px;
    }

    @media screen and (max-width: 1140px) {
        top: 350px;
    }
}

.ellips-border {
    position: absolute;
    top: 80px;
    left: 190px;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 5px solid #ffffff;

    @media screen and (min-width: 1601px) {
        top: 75px;
        left: 300px;
    }

    @media screen and (max-width: 1140px) {
        left: 70px;
    }
}

.ellips-fill {
    position: absolute;
    top: 110px;
    left: 120px;

    width: 70px;
    height: 70px;

    border-radius: 50%;
    background: $color-pink;

    @media screen and (min-width: 1601px) {
        top: 110px;
        left: 220px;
    }
}